.verifying {
  background-image: url("../images/verifying.svg") !important;
  border-color: #ced4da !important;
}

body {
  padding: 75px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/parus-altai.jpg') no-repeat /*center center*/ fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*.fix-rounded-right {*/
/*  border-top-right-radius: .2rem !important;*/
/*  border-bottom-right-radius: .2rem !important;*/
/*}*/

.container {
  margin-top: 2rem;
  max-width: 576px !important;
}

.bg-light {
  background-color: #f8f9fa!important;
}

a {
  color: #00B7FF;
}
